@import '../styles/screen-noticias.css';

section {
    padding: 1.5rem;
}

@media screen and (min-width: 600px) {
    .col1 {
        width: 49%;
        float: left;
    }
    
    .col2 {
        width: 49%;
        float: right;
    }
}

section article figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

section h1 {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.texto {
    background-color: #a3e1e8;
    border-radius: 10px;
    padding: 2%;
}
  