@import '../../styles/screen.css';

header, header nav, header nav ul ul {
    z-index: 10;
}

/* Diseño para móviles */
@media screen and (min-width: 320px) {

    .noticia-titulo {
        background-color: var(--azul-titulo);
        color: white;
        border-radius: 10px;
        padding: 2%;
        margin-bottom: 0;
        text-align: center;
    }

    .noticia-texto {
        background-color: var(--azul-noticia);
        color: black;
        padding: 3%;
        border-radius: 10px;
        text-align: justify;
        padding-bottom: 1%;
    }

    .img-container {
        position: relative;
    }
    
    .btn-ver-mas {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--azul-boton);
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-ver-mas:hover {
        background-color: var(--azul-articulo);
    }

}

/* Diseño para tablets */
@media screen and (min-width: 768px) {

    section figure {
        width: 50%;
    }

}

/* Diseño para ordenadores */
@media screen and (min-width: 992px) {

}

