@import '../../styles/screen.css';

/* Diseño para móviles */
@media screen and (min-width: 320px) {

    section {
        padding: 3%;
        text-align: justify;
    }
    
    section figure img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    
    section figure iframe {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    
    section h2 {
        margin-bottom: 1%;
    }

    article{
        margin-top: 1rem;
    }

}

/* Diseño para tablets */
@media screen and (min-width: 768px) {
    
    section figure img {
        width: 50%;
    }

    section figure iframe {
        width: 50%;
    }

}

/* Diseño para ordenadores */
@media screen and (min-width: 992px) {

}