@import '../../styles/screen.css';

/* Inicialmente, el contenido del div.texto está oculto */
article.desp .texto {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

/* Cuando el div.texto está visible, cambia la opacidad y la altura */
article.desp.visible .texto {
    opacity: 1;
    height: auto;
}

/* Diseño para móviles */
@media screen and (min-width: 320px) {

    section {
        padding: 3%;
        text-align: justify;
    }
    
    section figure img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    
    section figure iframe {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    
    section h2 {
        margin-bottom: 1%;
    }

    article{
        margin-top: 1rem;
    }

}

/* Diseño para tablets */
@media screen and (min-width: 768px) {
    
    section figure img {
        width: 50%;
    }

    section figure iframe {
        width: 50%;
    }

}

/* Diseño para ordenadores */
@media screen and (min-width: 992px) {

}