@import '../../styles/screen.css';

main {
    color: black;
}

section {
    padding: 3%;
    text-align: justify;
}

section figure img {
    border-radius: 10px;
    margin-left: 4vw;
}

section figure iframe {
    border-radius: 10px;
}

section h2 {
    margin-bottom: 1%;
}

@media screen and (min-width: 600px) { 
    article {
        column-count: 2;
    }
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

.cycle {
    font-weight: bold;
}

.department {
    font-style: italic;
    color: #2756d9;
}

.role {
    color: #3027d9;
}

