@import '../styles/screen-servicios.css';

/* Diseño para móviles */
@media screen and (min-width: 320px) {

    table {
        width: 100%; /* Ajusta el ancho según sea necesario */
        border-collapse: collapse; /* Para fusionar los bordes */   
    }
    
    th, td {
        border: 1px solid black; /* Define el borde */
        padding: 8px; /* Espaciado interno */
        text-align: center; /* Alineación del texto */
        font-size: 0.8rem;
    }
    
    th {
        background-color: #27c7d9; /* Color de fondo para los encabezados */
        color: white;
    }

}

/* Diseño para tablets */
@media screen and (min-width: 768px) {

}

/* Diseño para ordenadores */
@media screen and (min-width: 992px) {

    th, td {
        font-size: 1rem;
    }

}


