:root {
    --azul-primario: #278fd9;
    --azul-claro: #27c7d9;
    --azul-oscuro: #2756d9;
    --azul-articulo: #61aae0;
    --azul-boton: #007aff;
    --azul-titulo: #61aae0;
    --azul-noticia: #a3e1e8;
}