main { 
    display: grid;
    grid-template-areas:
        'zona1 zona1 zona2 zona2 zona2'
        'zona1 zona1 zona2 zona2 zona2'
        'zona3 zona3 zona3 zona3 zona3';
    grid-gap: 10px; /* Agregado espacio entre secciones */
    background-color: white;
    width: 100%;
    padding: 20px; /* Espaciado global */
}

/* --- ACTUALIDAD --- */
main section#section1 {
    grid-area: zona1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

main section#section1 article {
    background-color: #61aae0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}

main section#section1 article figure {
    flex: 0 0 120px;
    margin: 0;
}

main section#section1 article img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

main section#section1 article a{
    border:#007aff;
    background-color: #007aff;
    border-radius:8px;
    padding:8px;
    color:white;
    text-align: center;
}

/* --- AGENDA --- */
main section#section2 {
    grid-area: zona2;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
}

main section#section2 article {
    background-color: #a3e1e8;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    flex: 1;
}

/* --- GALERÍA (CARRUSEL) --- */
main section#section3 {
    grid-area: zona3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselGaleria {
    width: 100%;
    max-width: 900px;
}

.carousel-item img {
    height: 500px; /* Ajusta según tu preferencia */
    object-fit: cover;
    border-radius: 10px;
}
