/* Directrices generales */
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

/* Flecha hacia abajo para el nav */
.chevron {
    position: absolute;
    top: 60%;
    left: 35%;
    display: block;
    height: 0px; /*height should be double border*/
    cursor: pointer;
  }
  
  .chevron::before,
  .chevron::after {
    position: absolute;
    display: block;
    content: "";
    border: 17px solid transparent; /*adjust size*/
  }
  
  /* Replace all text `top` below with left/right/bottom to rotate the chevron */
  
  .chevron::before {
    top: 0;
    border-top-color: white; /*Chevron Color*/
  }
  
  .chevron::after {
    top: -5px; /*adjust thickness*/
    border-top-color: #278fd9; /*Match background colour*/
  }

  nav ul li:hover .chevron::before {
    border-top-color: black;
  }

  nav ul li:hover .chevron::after {
    border-top-color: #27c7d9;
  }

/* Header como contenedor */
header {
    display: flex;
    background-color: #278fd9;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header figure {
    width: 25%;
}

header figure img {
    max-width: 100%;
    height: auto;
}

/* Nav principal */
nav {
    width: 66.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

nav ul li.principal {
    background-color: #278fd9;
    padding-top: 4.5%;
    padding-bottom:4.5%;
    text-align: center;
}

nav ul li.no_marginal {
    border-right: 2px solid white;
}

nav ul li:hover {
    background-color: #27c7d9;
}

nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li:hover a {
    color: black;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #27c7d9;
    margin-right: 20px;
    width: auto;
}

nav ul ul li {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul ul li a {
    text-transform: capitalize;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
}

nav ul ul li:hover a {
    color: white;
}

nav ul ul a {
    line-height: 120%;
    padding: 5% 5%;
}

nav ul li:hover > ul {
    display: block;
}

/* Distribución del footer */
footer p#direccion1 {
    grid-area: texto1;
}

footer p#direccion2 {
    grid-area: texto2;
}

footer p#direccion3 {
    grid-area: texto3;
}

footer p#direccion4 {
    grid-area: texto4;
}

footer figure#rrss1 {
    grid-area: r1;
}

footer figure#rrss2 {
    grid-area: r2;
}

footer figure#rrss3 {
    grid-area: r3;
}

footer figure#rrss4 {
    grid-area: r4;
}

footer figure#logosmall {
    grid-area: logosmall;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    grid-area: ul;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    display: grid;
    grid-template-areas: 
        'texto1 texto1 texto1 texto1 logosmall logosmall logosmall logosmall ul ul ul ul'
        'texto2 texto2 texto2 texto2 logosmall logosmall logosmall logosmall ul ul ul ul'
        'texto3 texto3 texto3 texto3 logosmall logosmall logosmall logosmall ul ul ul ul'
        'r1 r2 r3 r4 logosmall logosmall logosmall logosmall ul ul ul ul';
    grid-gap: 0px;
    background-color: #278fd9;
    width: 100%;
}

footer p {
    color: white;
}

footer figure {
    width: 10%;
}

footer figure img {
    max-width: 100%;
    height: auto;
}

footer ul a {
    color: white;
}

footer ul a:hover {
    color: black;
}


/* font-size */




main section#section1 {
    grid-area: zona1;
    border-left: 2px solid black; /* Borde para section1 */
}

main section#section2 {
    grid-area: zona2;
    border-left: 2px solid blue; /* Borde para section2 */
}

main section#section3 {
    grid-area: zona3;
    border-left: 2px solid red; /* Borde para section3 */
}

main {
    display: grid;
    grid-template-areas:
        'zona1 zona1 zona2 zona2 zona2'
        'zona1 zona1 zona2 zona2 zona2'
        'zona3 zona3 zona3 zona3 zona3'
    ; 
    grid-gap: 0px;
    background-color: white;
    width: 100%;
}

section1{
    display:grid;
    grid-template-areas:
    'actualidad1'
    'actualidad2'

    ;
    grid-gap:0px;
    background-color:white;
    width: 100px;
}

section2{
    display: grid;
    grid-template-areas:
    ''
}
